header {
    width: 100%;
    .logo {
      background-image: url('C:/Users/erika/OneDrive/Documentos/github/proyecto/src/assets/icons/add-blue.svg');
      width: 50px;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .mat-tittle{
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 15px;
      font-weight: initial;
      letter-spacing: -1px;
      line-height: 1;
      text-align: center;
      

    }


    .example-spacer {
      flex: 1 1 auto;
    }
    .links {
      color: white;
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 15px;
      font-weight: initial;
      letter-spacing: -1px;
      line-height: 1;
      text-align: center;
      padding: 15px;
      &.side {
        padding: 0 14px;
      }
    }
    .mat-toolbar {
      background: #C51162;
    }
    .mat-icon {
      vertical-align: middle;
      margin: 0 5px;
    }
    a {
      cursor: pointer;
    }
  }
 